@{
    ViewData["Title"] = "Home Page";
}
<partial name="_notification" />
<div class="text-center">
    <h1 class="display-4">Welcome to our CV Manager App</h1>
    <h5>This app was developed by<br />
        <strong>Vaggelis Kourakos<br />
        Konstantinos Geros<br />
        Giannis Arambos</strong><br />
        for the Technologies Logismikou course
    </h5>
</div>
