@using X.PagedList.Mvc.Core
@using X.PagedList
@model IPagedList<ApplicationUser>


<partial name="_notification" />
<h1>List of Students</h1>

<table class="table table-bordered table-striped mt-3">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.UserName</td>
                <td>
                    <div class="d-flex flex-row gap-2" role="group">
                        <a asp-controller="CV" asp-action="Create" asp-route-studentId="@student.Id" class="btn btn-primary">Create CV</a>
                        <a asp-controller="CV" asp-action="Details" asp-route-studentId="@student.Id" class="btn btn-primary">View CV</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("ListStudents", new { page = page}),
            new PagedListRenderOptions
        {
            DisplayItemSliceAndTotal = true,
            ContainerDivClasses = new[] { "navigation" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
        })

@section Scripts {
    <script>
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
    </script>
    
}

